<p id="notice"><%= notice %></p>




<div class="container-fluid">
    <div class="row">
    <div class="col-md-3 sidebar">
        
        <%= search_form_for @q, url: universities_path ,class:'ken' do |f| %>
    <div class="row">
      <div class="form-group col-xs-6">
    <div class="row">
      <div class="col-xs-12">
       <%= f.search_field :name_cont, class: 'form-control', placeholder: 'University' %>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
     　<%= f.search_field :country_name_cont, class: 'form-control',placeholder: 'Country' %>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
       <%= f.search_field :language_name_cont ,class: 'form-control', placeholder: 'Language' %>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
       <%= f.label :livings_residence_id,"Lodging Type", class: 'livings_residence_id' %>
       <%= f.collection_select(:livings_residence_id_eq, Residence.all, :id, :name, include_blank: true)%>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
       <%= f.submit '検索'%>
    </div>
    </div>
    </div>
<% end %>

    </div>
    
</div>




<% @universities.each do |university| %>
<div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img style="width:70%" src="<%= university.image %>">
        </div>
        <div class="col-md-3">
        <ul class="detail">
            <li>University : <%= university.name %></li>
            <li>Language : <%= university.language.name %></li>
            <li>Country: <%= university.country.name %></li>
            <li><%= link_to '詳細を見る', university %></li>
        </ul>
        </div>
</div>       
        
<% end %>

