<img style="width:80%" src="<%= @university.image %>">
<ul class="detail">
    <li>University : <%= @university.name %></li>
    <li>Language : <%= @university.language.name %></li>
    <li>Country: <%= @university.country.name %></li>
</ul>

<div class="favorite_box">
  <% if @liked %>
    <p class="favorite">
      <%= link_to 'お気に入り取消', unlike_path(@university.id),method: :delete %>
    </p>
    <% else %>
     <% if user_signed_in? %>
    <p class="favorite">
      <%= link_to 'お気に入りに登録', like_path(@university.id),method: :post %>
    </p>
     <% else %>
    <p class="favorite">
      <%= link_to 'お気に入りに登録', new_user_registration_path%>
    </p>
     <% end %>
    <% end %>
    
<div>
  <h1>代理店情報</h1>
  <ul>
    <li>
      <%= @university.agent.name %>
    </li>
    <li>
      <%= @university.agent.adress %>
    </li>
    <li>
      <%= @university.agent.tel %>
    </li>
  </ul>
</div>    
    
</div>